# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# validation SPV file
"GLSLANG.spv"
GLSLANG.spv
*/"GLSLANG.spv"
*/GLSLANG.spv
/*\\\"GLSLANG.spv\\\""
*/*\\\"GLSLANG.spv\\\""
*/\\\"GLSLANG.spv\\\""
/*GLSLANG
*/*GLSLANG

# CMake build directory 
build/
build/*
build*/
cmake-build*/
cmake-build*/*

# ignore these directories
RelWithDebInfo/
Debug/
Release/
x64/
.vs/
*/RelWithDebInfo/
*/Debug/
*/Release/
*/x64/

# ignore containement
RelWithDebInfo/*
Debug/*
Release/*
x64/*
.vs/
*/RelWithDebInfo/*
*/Debug/*
*/Release/*
*/x64/*

ipch/*
*/ipch/*
ipch/
*/ipch/
